services:
  web:
    build: ./app
    ports:
      - "5001:5000"
    environment:
      REDIS_HOST: redis
      REDIS_PORT: 6379
      REDIS_KEY: visits
    depends_on:
      - redis

  redis:
    image: redis:7-alpine
    volumes:
      - redis_data:/data
    command: ["redis-server", "--appendonly", "yes"]

volumes:
  redis_data:
